<header>
    <nav>
        <div class="left nav-logo">
            Global Book Exchange
        </div>
        <div class="right">
            <a class="primary-white-button" href="/">Home</a>
        </div>
    </nav>
</header>
