<header>
    <nav>
        <div class="button-nav" id="auth-nav">
            <a class="primary-white-button" href="/">Home</a>
        <div class="nav-logo" id="auth-nav-logo">
            Global Book Exchange
        </div>
        </div>
    </nav>
</header>
