<header>
    <nav>
        <div class="button-nav" id="index-nav">
            <a class="primary-grey-button" href="">Login</a>
            <a class="primary-white-button" href="/auth/sign-up">Sign Up</a>
        </div>
    </nav>
</header>
