<header>
    <nav>
        <% if(locals.user == 'unauthorized') { %>
        <div class="button-nav" id="index-nav">
            <a class="primary-grey-button" href="/auth/login">Login</a>
            <a class="primary-white-button" href="/auth/sign-up">Sign Up</a>
        </div>
        <% } else { %>
        <div class="button-nav" id="index-nav">
            <a class="primary-grey-button" href="">My Profile</a>
            <a class="primary-white-button" href="">Add Book</a>
        </div>
        <% } %>
    </nav>
</header>
