<header>
    <nav>
        <div id="index-nav">
            <a class="primary-white-button" href="">Sign Up</a>
            <a class="primary-grey-button" href="">Login</a>
        </div>
    </nav>
</header>
