.book-card-wrapper {
    flex: 0 0 300px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-card-highlight);
    border-radius: 1.5vw;
    box-shadow: 0 0 5px var(--color-grey-highlight);
    padding-top: 5%;
}

.book-card-thumbnail {
    display: flex;
    min-height: 218px;
    margin: auto;
}

.book-card-details>p{
    text-align: center;
}

.book-card-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-card-publisher {
    margin-top: auto;
}

.book-card-button {
    text-align: center;
    margin: 25px;
}
