.form-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 5px var(--color-grey-highlight);
    margin: auto;
    background: var(--color-card-highlight);
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2vw;
    margin-top: 0;
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-primary);
    font-weight: 100;
}

.form-line-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1vw;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.form-line-container > * {
    flex-grow: 1;
}

.form-button-line {
    margin-top: 25px
}

.form-label {
    font-size: 1rem;
}

.form-field-text {
    width: 30vw;
    height: 30px;
    border-radius: 30px;
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

[data-lastpass-icon-root], [data-lastpass-root] {
    display: none !important;
}

.form-error-line {
    justify-content: center;
    align-items: center;
    color: red;
}
