nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    box-sizing: border-box;
    position: fixed;
    min-height: 3.938rem;
    width : 100%;
    top: 0;
    align-items: center;
    background: var(--color-bkg-primary);
}

@media only screen and (max-width: 500px) {
    nav {
        justify-content: center;
    }
}

.left, .right {
    padding: 8px;
}

.nav-logo {
    font-family: var(--font-logo);
    font-size: 1.5rem;
}