@import 'shared/variables.css';

.auth-inner-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.70);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}
