@import 'shared/fonts.css';
@import 'shared/variables.css';

.homepage-inner-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vmin;
}

.homepage-logo {
    display: flex;
    overflow: hidden;
    white-space: nowrap; 
    font-family: 'EB_Garamond';
    font-weight: 100;
    font-size: 3.5rem;
    width: 19ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 2px solid;
}

@media only screen and (max-width: 600px) {
    .homepage-logo {
        font-size: 2rem;
    }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
  

.homepage-search-container {
    margin: 1%;
    width: 60%;
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 5px 23px 5px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search:hover, .search:focus {
    background-color: white;
    background: var(--color-input-field-bkg-hover);
}

.search-icon {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 14px;
    margin: auto;
}

.clear-icon {
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
}

.homepage-primary-buttons {
    display: flex;
    margin: 3.5%;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
}

.homepage-primary-buttons a {
    min-width: 12%;
}