.homepage-inner-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vmin;
}

.homepage-logo {
    display: flex;
    overflow: hidden;
    white-space: nowrap; 
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: 5rem;
    width: 18.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 2px solid;
}

@media only screen and (max-width: 800px) {
    .homepage-logo {
        font-size: 4rem;
    }

    .homepage-inner-container {
        margin-top: 25vh;
    }
}

@media only screen and (max-width: 650px) {
    .homepage-logo {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .homepage-logo {
        font-size: 2rem;
    }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
  
.homepage-search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    position: relative;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.search {
    border: 1px solid grey;
    border-radius: 25px;
    height: 25px;
    width: 100%;
    padding: 5px 23px 5px 30px;
    outline: 0;
    background-color: var(--color-input-field-bkg-hover);
    font-size: 1.15rem;
}

.search:hover, .search:focus {
    background-color: white;
    background: var(--color-input-field-bkg-hover);
}

.search-icon {
    position: absolute;
    top: 11.5px;
    left: 10px;
    width: 14px;
    margin: auto;
}

.clear-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
}

.homepage-primary-buttons {
    display: flex;
    margin: 3.5%;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
}

.homepage-primary-buttons a {
    min-width: 12%;
}
