@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'homepage.css';
@import 'auth.css';
@import 'books.css';
@import 'shared/navigation.css';
@import 'shared/form.css';
@import 'shared/card.css';

html, body {
    background: var(--color-bkg-primary);
    font-family: var(--font-secondary);
    height: 100vh;
    width: 100vw;
    margin: 0em;
}

body {
    display: flex;
    flex-direction: column;
}

.full-page-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a, input, button, label {
    font-family: var(--font-secondary);
}

a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

.primary-grey-button {
    background: var(--color-grey-highlight);
    color: var(--color-white-button-highlight);
    border: 1.5px solid var(--color-grey-highlight);
    font-size: 1rem;
    padding: 5px 10px 5px;
    border-radius: 1.3em;
    transition-duration: 0.4s;
}

.primary-grey-button:hover {
    background: var(--color-white-button-highlight);
    color: var(--color-grey-highlight);
    border: 1.5px solid var(--color-grey-highlight);
    outline: 0.1px solid var(--color-grey-highlight);
    transition-duration: 0.4s;
}

.primary-white-button {
    background: var(--color-white-button-highlight);
    color: var(--color-grey-highlight);
    border: 1.5px solid var(--color-grey-highlight);
    font-size: 1rem;
    padding: 5px 10px 5px;
    border-radius: 1.3em;
    transition-duration: 0.4s;
}

.primary-white-button:hover {
    background: var(--color-grey-highlight);
    color: var(--color-white-button-highlight);
    border: 1.5px solid var(--color-grey-highlight);
    outline: 0.1px solid var(--color-grey-highlight);
    transition-duration: 0.4s;
}

.primary-red-button {
    background: var(--color-white-button-highlight);
    color: var(--color-grey-highlight);
    border: 1.5px solid var(--color-grey-highlight);
    font-size: 1rem;
    padding: 5px 10px 5px;
    border-radius: 1.3em;
    transition-duration: 0.4s;
}

.primary-red-button:hover {
    background: var(--color-red-button-highlight);
    color: var(--color-white-button-highlight);
    border: 1.5px solid var(--color-red-button-highlight);
    outline: 0.1px solid var(--color-red-button-highlight);
    transition-duration: 0.4s;
}
