    <div id="homepage-inner-container">
    <div id="homepage-logo">
    Global Book Exchange
    </div>
    <div id="homepage-search-container">
        <form>
            <input type="text" id="homepage-search-input" placeholder="Search Books ...">
            <button id="homepage-search-button" class="primary-grey-button" type="submit">Find</button>
        </form>
        <div id="homepage-primary-buttons">
            <a href="/books/" id="homepage-all-books" class="primary-white-button">Show All</a>
            <a href="/about" id="homepage-learn-more" class="primary-white-button">Learn More</a>
        </div>
    </div>
    </div>
