<div>
    <h1 class="site-title-logo">
    Global Book Exchange
    </h1>
</div>
<div class="search-container">
    <form action = "/books/search" class="central-search-bar" method="GET">
    <input type="text" name="main-page-search" placeholder="Search Books ...">
    <button id="index-search" type="submit">Find</button>
    </form>
    <div class="primary-buttons">
        <a href="/books/" id="index-all-books">Show All</a>
    </div>
</div>