<div class="full-page-container" id="homepage-container">
    <div id="homepage-inner-container">
    <div id="homepage-logo">
    Global Book Exchange
    </div>
    <div id="homepage-search-container">
        <form>
            <input type="text" id="homepage-search-input" placeholder="Search Books ...">
            <button id="homepage-search-button" class="primary-grey-button" type="submit">Find</button>
        </form>
        <div id="primary-buttons">
            <a href="/books/" id="index-all-books">Show All</a>
        </div>
    </div>
    </div>
</div>
