<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="/javascripts/utils.js"></script>
    <script defer src="/javascripts/auth.js"></script>
    <title>Global Book Exchange</title>
</head>
<body>
    <%- include('../partials/_auth-nav.ejs') %>
    <%- body %>
</body>
</html>
