<div class="book-add-form-wrapper">
    <form class="form-inner-container" action="/books/add-by-isbn">
        <div class="form-header">Add By ISBN Search:</div>
        <div class="form-line-container">
            <label class="form-label" for="addBookISBN">ISBN:</label>
            <input class="form-field-text" name="addBookISBN" type="text" placeholder="ISBN" required autofocus>
        </div>
        <% if(errorISBN) {%>
            <div class="form-error-line" id="login-error-line">
                <%= errorISBN %>
            </div>
            <% } else {%>
                <div class="form-error-line" id="signup-step-one-error-line" style="display: none"></div>
                <% } %>
                <div class="form-button-line">
                    <input id="addBookISBNSubmitButton" class="primary-grey-button" type="submit" value="Search">
                </div>
    </form>
    <div class="book-input-spacer">- OR -</div>
    <form class="form-inner-container" action="/books/add-by-title">
        <div class="form-header">Add By Title Search:</div>
        <div class="form-line-container">
            <label class="form-label" for="addBookTitle">Title:</label>
            <input class="form-field-text" name="addBookTitle" type="text" placeholder="Book Title" required>
        </div>
        <div class="form-line-container">
            <label class="form-label" for="addBookAuthor">Author (first listed):</label>
            <input class="form-field-text" name="addBookAuthor" type="text" placeholder="Book Author" required>
        </div>
        <div class="form-line-container">
            <label class="form-label" for="addBookPublishedDate">Published Date:</label>
            <input class="form-field-text" name="addBookPublishedDate" type="date">
        </div>
        <% if(errorTitle) {%>
            <div class="form-error-line" id="login-error-line">
                <%= errorTitle %>
            </div>
            <% } else {%>
                <div class="form-error-line" id="signup-step-one-error-line" style="display: none"></div>
                <% } %>
                <div class="form-button-line">
                    <input id="addBookTitleSubmitButton" class="primary-grey-button" type="submit" value="Search">
                </div>
    </form>
</div>