<script defer src="/javascripts/addBook.js"></script>
<div class="book-inner-container" id="add-book-container">
    <div class="book-input-container">
        <div class="book-form-header">By ISBN:</div>
    </div>
    <div class="book-input-spacer">- OR -</div>
    <div class="book-input-container">
        <div class="book-form-header">By Manual Input:</div>
    </div>
</div>
