<script defer src="javascripts/addBook.js"></script>
<div id="add-by-isbn-form">
    <p>Add book by isbn:</p>
    <input type="text" id="isbn" placeholder="Enter ISBN">
    <button id="foobar" onclick="findBookAdd(document.getElementById('isbn').value)">Search</button>
</div>

<div id="confirm-book-div">
    Please confirm book:
    <div id="book-details">
        <p id="book-details-title"></p>
        <p id="book-details-author"></p>
        <p id="book-details-publisher"></p>
        <p id="book-details-publishedDate"></p>
        <p id="book-details-description"></p>
    </div>
</div>
