<div>
    Add book by isbn:
    <form action="/books/find-by-isbn" class="isbn-search" method="GET">
        <input type="text" name="isbn" placeholder="Enter ISBN">
        <button type="Submit">Search</button>
    </form>
</div>
