<div class="auth-inner-container" id="sign-up-step-one-container">
    <div class="form-header" id="sign-up-step-one-label">Create Account</div>
    <div class="form-line-container">
        <label class="form-label" for="signup-first-name-input">First Name:</label>
        <input class="form-field-text" name="signup-first-name-input" id="signup-first-name-input" type="text"
            placeholder="ex. John">
        <label class="form-label" for="signup-last-name-input">Last Name:</label>
        <input class="form-field-text" name="signup-last-name-input" id="signup-last-name-input" type="text"
            placeholder="ex. Doe">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="signup-email-input">Email:</label>
        <input class="form-field-text" name="signup-email-input" id="signup-email-input" type="text"
            placeholder="ex. example@example.com">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="sigup-password-input">Create Password:</label>
        <input class="form-field-text" name="signup-password-input" id="signup-password-input" type="password"
            placeholder="Type New Password">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="sigup-confirm-password-input">Re-type Password:</label>
        <input class="form-field-text" name="signup-confirm-password-input" id="signup-confirm-password-input"
            type="password" placeholder="Re-type Password">
    </div>
    <div class="form-error-line" style="display: none"></div>
    <div class="form-button-line">
        <button id="sigup-step-one-button" class="primary-grey-button">Continue</button>
    </div>
</div>
<div class="auth-inner-container" id="sign-up-step-two-container" style="display: none">
    <div class="form-header" id="signup-step-two-label">Add Address</div>
    <div class="form-line-container">
        <label class="form-label" for="signup-address-one">Street Address:</label>
        <input class="form-field-text" name="signup-address-one" id="signup-address-one" type="text"
            placeholder="Address Line 1">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="signup-address-two">Address Line #2:</label>
        <input class="form-field-text" name="signup-address-two" id="signup-address-two" type="text"
            placeholder="Address Line 2">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="signup-address-three">Address Line #3:</label>
        <input class="form-field-text" name="signup-address-three" id="signup-address-three" type="text"
            placeholder="Address Line 3">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="signup-address-four">City Line:</label>
        <input class="form-field-text" name="signup-address-four" id="signup-address-four" type="text"
            placeholder="Address Line 4">
    </div>
    <div class="form-line-container">
        <label class="form-label" for="signup-address-five">Country Line:</label>
        <input class="form-field-text" name="signup-address-five" id="signup-address-five" type="text"
            placeholder="Address Line 5">
    </div>
</div>