<form class="auth-inner-container" name="sign-up-step-one" id="sign-up-step-one-container" onsubmit="return validateSignUpStepOne(document.forms['sign-up-step-one'])" method="POST" action="/auth/sign-up" autocomplete="off">
    <div class="form-header" id="sign-up-step-one-label">Create Account</div>
    <div class="form-line-container">
        <input class="form-field-text" name="signupFirstNameInput" id="signupFirstNameInput" type="text" placeholder="First Name" required autofocus>
        <input class="form-field-text" name="signupLastNameInput" id="signupLastNameInput" type="text" placeholder="Last Name" required>
    </div>
    <div class="form-line-container">
        <input class="form-field-text" name="signupAddressOne" id="signupAddressOne" type="text" placeholder="Address" required>
    </div>
    <div class="form-line-container">
        <input class="form-field-text" name="signupEmailInput" id="signupEmailInput" type="email" placeholder="Email" required>
        <input class="form-field-text" name="signupPasswordInput" id="signupPasswordInput" type="password"
            placeholder="Password" required>
    </div>
    <% if(error) {%>
        <div class="form-error-line" id="login-error-line">
            <%= error %>
        </div>
    <% } else {%>
        <div class="form-error-line" id="signup-step-one-error-line" style="display: none"></div>
    <% } %>
    <div class="form-button-line">
        <input id="sigup-step-one-button" class="primary-grey-button" type="submit" value="Sign Up">
    </div>
</form>